@if (model$ | async; as model) {
<div class="editor">
  <div class="header">
    <h2>Image Editor</h2>
    <div class="action-buttons">
      <button (click)="addNewLayerButton_Click()">Add New Layer</button>
    </div>
  </div>
  <div class="property-container">
    <div class="property-item">
      <span>Id</span><span>{{ model.id }}</span>
    </div>
    <div class="property-item">
      <span>Name</span><span>"{{ model.name }}"</span>
    </div>
  </div>
  <div class="children-container">
    @for (layer of orderedLayers(model.layers); track layer.id) {
    <div class="child-container">
      <div>
        <app-layer-editor [model]="layer" />
      </div>
      <div class="action-buttons">
        <button (click)="deleteLayerButton_Click(layer)">Delete Layer</button>
      </div>
    </div>
    }
  </div>
</div>
}
<ng-template #NoDataTemplate>
  <p>Could not load the model</p>
</ng-template>
