<div class="editor">
  <div class="header">
    <h2>Document Type - {{ model.name }}</h2>
    <div class="action-button-group">
      <p-menu #menu [model]="layerChoices" [popup]="true" />
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        label="Layer"
        size="small"
        [pTooltip]="'Add a new layer'"
        tooltipPosition="bottom"
        (click)="menu.toggle($event)"
      ></button>
    </div>
  </div>
  <div class="property-container">
    <div class="property-item">
      <span>Id</span><span>{{ model.id }}</span>
    </div>
    <div class="property-item">
      <label for="name">Name</label>
      <input pInputText [(ngModel)]="model.name" />
    </div>
  </div>
  <div class="children-container">
    <ng-container
      *ngFor="
        let layer of model.imageLayers;
        index as i;
        first as isFirst;
        last as isLast
      "
    >
      <div class="child-container">
        <div>
          @switch(layer.layerType) {
            @case (1) {
              <app-static-layer-editor
                [model]="layer"
                [canMoveEarlier]="!isFirst"
                [canMoveLater]="!isLast"
              />
            }
            @case (2) {
              <app-text-layer-editor
                [model]="layer"
                [canMoveEarlier]="!isFirst"
                [canMoveLater]="!isLast"
              />
            }
          }
        </div>
      </div>
    </ng-container>
  </div>
  <div class="action-button-container">
    <div class="action-button-group">
      <p-button label="Save" severity="primary" (click)="saveButton_Click()" />
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="cancelButton_Click()"
      />
    </div>
  </div>
</div>
