<div class="layer-editor">
  <div class="header">
    <h2>Text Layer {{ model.id }}</h2>
    <div class="action-buttons">
      <p-menu #menu [model]="activeActionMenuConfig" [popup]="true" />
      <p-button
        type="button"
        icon="pi pi-ellipsis-v"
        size="small"
        [text]="true"
        [pTooltip]="'Action Menu'"
        tooltipPosition="bottom"
        (click)="menu.toggle($event)"
      />
    </div>
  </div>
  <div class="property-container">
    <!-- <div class="property-item">
      <span>Id</span><span>{{ model.id }}</span>
    </div> -->
  </div>
  <div class="children-container">
    @for (component of model.components; track component.id; let i = $index, isFirst = $first, isLast = $last) {
      <div class="child-container">
        <div class="child-editor">
          @switch (component.componentType) {
            @case (2) {
              <app-directsmile-component-editor
                [layerModel]="model"
                [componentModel]="component"
                [canMoveEarlier]="!isFirst"
                [canMoveLater]="!isLast"
                (moveEarlier)="onMoveComponentEarlier($event)"
                (moveLater)="onMoveComponentLater($event)"
                (deleteComponent)="onDeleteComponent($event)"
              />
            }
          }
        </div>
        <div class="action-buttons"></div>
      </div>
    }
  </div>
  <div class="action-buttons">
    <p-button
      label="Add Component"
      size="small"
      (click)="addNewComponentButton_Click()"
    />
  </div>
</div>
