.container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  grid-template-areas: "left right";
}

.left { grid-area: left; }
.right { grid-area: right; }
