.layer-editor {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #efefef;
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
}

.property-container {
  width: 400px;
}

.property-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

.children-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.child-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  border: 2px solid lightcoral;
  padding: 1rem;
}

.child-editor {
  flex-grow: 1;
}
