<div class="component-editor">
  <div class="header">
    <h2>Image Component {{ componentModel.id }}</h2>
    <div class="action-buttons">
      <p-menu #menu [model]="activeActionMenuConfig" [popup]="true" />
      <p-button
        type="button"
        icon="pi pi-ellipsis-v"
        size="small"
        [text]="true"
        [pTooltip]="'Action Menu'"
        tooltipPosition="top"
        (click)="menu.toggle($event)"
      ></p-button>
    </div>
  </div>

  <div class="property-container"></div>

  <div class="upload-container">
    <p-fileUpload
      mode="basic"
      chooseLabel="Choose"
      name="file"
      url="http://localhost:3000/upload"
      accept="image/*"
      [maxFileSize]="1000000"
      (onUpload)="onUpload($event)"
    ></p-fileUpload>
  </div>
</div>
